div.carousel-cont.container{
  padding:none;
  max-width: 50% ;
}

h2{
  text-align: center;
}

.about-h2 {

  padding: 50px;
}

.about-div {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.about-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.modalSect {
  padding: 25px;
  margin-left: 10px;
}