button.btn.btn-primary{
  background-color:rgba(30, 147, 182, 0.986);
  border-radius: 5vmax;
  padding: 0.8vmax;
  font-size:1.1vmax;
  margin:1%;
  border: none;
}

div.addButtonDiv{
  display: flex;
 flex:1;
 justify-content: right;
 }

