button.btn.btn-primary {
  background-color: rgba(30, 147, 182, 0.986);
  border-radius: 5vmax;
  padding: 0.8vmax;
  font-size: 1.1vmax;
  margin: 1%;
  border: none;
}

div.addButtonDiv {
  display: flex;
  flex: 1;
  justify-content: right;
}

button.btn.btn-primary:hover {
  /* transform: scale(1.01, 1.01); */
  box-shadow: 0 0 1.5rem black; 
  transform: scale(0.8, 0.8);
}

/* nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  bottom: 0%;
  position: absolute;
} */

navbar-expand-lg.navbar-dark.bg-dark {
  bottom: 0%;
  position: absolute;
  margin-top: 150px;
}
